
node_modules/supports-color/readme.md
*.md
node_modules/supports-color/readme.md
node_modules/supports-color/package.json
node_modules/supports-color/license
node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.js
node_modules/ansi-styles/license
node_modules/ansi-styles/package.json
node_modules/ansi-styles/readme.md
node_modules/chalk/index.d.ts
node_modules/chalk/license
node_modules/chalk/node_modules/ansi-regex/index.js
node_modules/chalk/node_modules/ansi-regex/license
node_modules/chalk/node_modules/ansi-regex/package.json
node_modules/chalk/node_modules/ansi-regex/readme.md
node_modules/chalk/node_modules/strip-ansi/index.js
node_modules/chalk/node_modules/strip-ansi/license
node_modules/chalk/node_modules/strip-ansi/package.json
node_modules/chalk/node_modules/strip-ansi/readme.md
node_modules/chalk/package.json
node_modules/chalk/readme.md
